{% extends 'vueDetail.html.twig' %}

{% block titre %}
    {{entreprise.nom}}
    <a href="{{path('prostage_modifierUneEntreprise' , {'idEntreprise' : entreprise.id}) }}" class="btn btn-primary">Modifier</a>
{% endblock %}

{% block attribut %}
    <li class="list-group-item">Nom de l'entreprise : {{entreprise.nom}}</li>
    <li class="list-group-item">Activite de l'entreprise : {{entreprise.activite}}</li>
    <li class="list-group-item">Adresse de l'entreprise : {{entreprise.adresse}}</li>
    <li class="list-group-item">Site Web de l'entreprise : {{entreprise.urlSiteWeb}}</li>


    {% if entreprise.stages is empty %}
        <div class="card-header">
            <h3>Cette entreprise n'a pas de stage pour le moment</h3>
        </div>
    {% else %}
        <div class="card-header">
            <h3>Stage/s</h3>
        </div>
        <li class="list-group-item"> 
            <table class="table table-bordered table-striped table-light">
                <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Domaine</th>
                        <th scope="col">Formation</th>
                        <th scope="col">Lien</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stage in entreprise.stages %}
                        <tr>
                            <td scope="row">{{stage.titre}}</td>
                            <td>{{stage.domaine}}</td>

                            <td>
                            {% for formation in stage.formation %}
                                <a href="{{path('prostage_detail_formation_par_id' , {'id' : formation.id}) }}">{{formation.nomCourt}}</a><br>
                            {% endfor %}
                            </td>

                            <td><a href="{{path('prostage_detail_stage_par_id' , {'id' : stage.id}) }}"><button type="button" class="btn btn-outline-primary">En savoir plus</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table> 
        </li> 
    {% endif %}
    

{% endblock %}


    

