{% extends 'base.html.twig' %}


{% block tablehead %}
    <tr>
      <th scope="col">Poste</th>
      <th scope="col">Domaine</th>
      <th scope="col">Entreprise</th>
      <th scope="col">Formation/s</th>
      <th scope="col">Lien</th>
    </tr>

{% endblock %}

{% block tablebody %}
    {% for stage in listeStages %}
        <tr>
            <th scope="row">{{stage.titre}}</th>
            <td>{{stage.domaine}}</td>
            <td><a href="{{path('entreprise')}}/{{stage.entreprise.id}}">{{stage.entreprise.nom}}</a></td>
            {% for formation in stage.formation %}
                <td><a href="{{path('formation')}}/{{formation.id}}">{{formation.nomCourt}}</a></td>
            {% endfor %}
            <td><a href="{{path('stage')}}/{{stage.id}}"><button type="button" class="btn btn-outline-primary">En savoir plus</button></td>
        </tr>
    {% endfor %}

{% endblock %}