{% extends 'base.html.twig' %}

{% block tablehead %}
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Activité</th>
      <th scope="col">Ville Adresse</th>
      <th scope="col">Lien</th>
    </tr>

{% endblock %}

{% block tablebody %}
    {% for entreprise in listeEntreprises %}
        <tr>
            <th scope="row">{{entreprise.nom}}</th>
            <td>{{entreprise.activite}}</td>
            <td>{{entreprise.adresse}}</td>
            <td><a href="{{path('entreprise')}}/{{entreprise.id}}"><button type="button" class="btn btn-outline-primary">En savoir plus</button></td>
        </tr>
    {% endfor %}

{% endblock %}