{% extends 'base.html.twig' %}

{% block texte %}
    <p>Poste : {{stage.titre}}</p>
    <p>Domaine : {{stage.domaine}}</p>
    <p>Description : {{stage.description}}</p>
    <p>Email : {{stage.email}}</p>
    <a href="{{path('entreprise')}}/{{stage.entreprise.id}}">Entreprise : {{stage.entreprise.nom}}</a>
    {% for formation in stage.formation %}
       <p><a href="{{path('formation')}}/{{formation.id}}">{{formation.nomCourt}}</a></p>
    {% endfor %}
{% endblock %}