{% extends 'base.html.twig' %}

{% block texte %}
    <p>Poste : {{stage.titre}}<p>
    <p>Domaine : {{stage.domaine}}<p>
    <p>Description : {{stage.description}}<p>
    <p>Email : {{stage.email}}<p>
    <p>Entreprise : {{stage.entreprise.nom}}<p>
    {% for formation in stage.formation %}
        <td>{{formation.nomCourt}}</td>
    {% endfor %}
{% endblock %}